cycler==0.11.0
fonttools==4.38.0
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.21.6
packaging==21.3
Pillow==9.3.0
potpourri3d==0.0.8
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.7.3
six==1.16.0
torch==1.13.0
trimesh==3.16.4
typing-extensions==4.4.0
